.contact-wrapper {
  justify-content: center;
  padding: 0%;
  display: flex;
  align-items: center;
}

.intro-description {
  font-size: 14px;
  text-align: center !important;
}

.align-left {
  text-align: left;
}
// iPhone
@media (max-width: 767px) {
  .content-contact {
    margin-top: 100px;
  }

  .header-large {
    font-family: "Montserrat", sans-serif;
    font-size: 14vw !important;
    line-height: 1em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    text-transform: none;
    color: #eee7e1;
  }

  .header-contact {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0vh;
    font-family: "Montserrat", sans-serif;
    line-height: 1em;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    top: 0%;
  }

  .intro-description {
    font-size: 14px;
  }

  .description-contact {
    width: 100% !important;
    text-align: left;
  }
}

// iPad
@media (min-width: 768px) {
  .header-large {
    font-family: "Montserrat", sans-serif;
    font-size: 14vw !important;
    line-height: 1em;
    font-weight: 300;
    text-align: left !important;
    letter-spacing: 0px;
    text-transform: none;
    color: #eee7e1;
  }

  .header-contact {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0vh;
    font-family: "Montserrat", sans-serif;
    line-height: 1em;
    font-weight: 300;
    text-align: left !important;
    letter-spacing: 4px;
    text-transform: uppercase;
    top: 0%;
  }

  .description-contact {
    width: 100% !important;
    font-size: 16px !important;
    margin-left: 6px;
  }
}

// Laptops
@media (min-width: 1020px) {
  .header-large {
    font-family: "Montserrat", sans-serif;
    font-size: 14vw !important;
    line-height: 1em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    text-transform: none;
    color: #eee7e1;
  }

  .header-contact {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0vh;
    font-family: "Montserrat", sans-serif;
    line-height: 1em;
    font-weight: 300;
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;
    top: 0%;
  }

  .description-contact {
    margin-left: 14px;
    width: 100% !important;
    font-size: 16px !important;
  }
}

// Desktop
@media (min-width: 1201px) {
  .header-large {
    font-family: "Montserrat", sans-serif;
    font-size: 10vw !important;
    line-height: 1em;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0px;
    text-transform: none;
    color: #eee7e1;
  }

  .header-contact {
    position: relative;
    margin-top: 22%;
    margin-bottom: 0vh;
    font-family: "Montserrat", sans-serif;
    line-height: 1em;
    font-weight: 300;
    text-align: left;
    letter-spacing: 4px;
    text-transform: uppercase;
    top: 0%;
  }

  .description-contact {
    margin-left: 12px;
    width: 100% !important;
    font-size: 16px !important;
  }
}

.link:hover {
  text-decoration: line-through;
}

.link-white {
  color: #eee7e1;
}

.link-white:hover {
  color: #eee7e1;
}
