.home-description {
  text-align: start;
}

.home-wrapper {
  width: 90% !important;
  margin: 0% 5% !important;
  padding: 0%;
  display: flex;
}

.home-section-center {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content-left {
  width: 100%;
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.75em;
  font-weight: 500;
  text-align: left;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.home-description {
  max-width: 80%;
  font-size: 14px;
  line-height: 1.9em;
  font-weight: 400;
}

.home-section-right {
  display: flex;
  width: 100%;
  float: right;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.home-link {
  z-index: 100;
  display: block;
  color: #ffffff;
  border: 0px solid #ffffff;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out,
    font-size 300ms ease-in-out;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.home-link:hover {
  color: #ffffff;
}

.typed {
  color: white;
  text-shadow: 1cm;
}
// iPhone
@media (max-width: 480px) {
  .home-wrapper {
    flex-direction: column;
  }

  .home-section-left {
    margin-bottom: 10%;
  }

  .home-content-left {
    padding-top: 40%;
  }

  .name {
    font-size: 16px !important;
  }

  .home-content-right {
    text-align: left;
  }

  .home-link-div {
    display: inline-block;
    padding-right: 5%;
    text-align: right;
  }

  .home-link {
    font-size: 16vw;
    line-height: 1.2em;
  }
}

// Samsung
@media (min-width: 481px) {
  .home-wrapper {
    flex-direction: column;
  }

  .home-section-left {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .home-content-left {
    padding-top: 35%;
    margin-bottom: 10%;
  }

  .name {
    font-size: 20px;
  }

  .home-content-right {
    text-align: left;
  }

  .home-link-div {
    display: inline-block;
    padding-right: 5%;
    text-align: right;
  }

  .home-link {
    font-size: 10vw;
    line-height: 1.1em;
  }
}

// iPad
@media (min-width: 768px) {
  .home-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
  }

  .home-content-left {
    padding-top: 26%;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .name {
    font-size: 26px;
  }

  .home-description {
    font-size: 18px;
  }

  .home-content-right {
    padding-top: 10%;
  }

  .home-link-div {
    position: relative;
    display: inline-block;
    padding-right: 5%;
    text-align: right;
  }

  .home-link {
    font-size: 14vw;
    font-weight: 300;
  }
}

// iPad large
@media (min-width: 800px) {
  .home-content-left {
    padding-top: 50%;
  }
}

// Laptops
@media (min-width: 1020px) {
  .home-wrapper {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
  }

  .home-section-left {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-content-left {
    padding-bottom: 5%;
  }

  .name {
    font-size: 16px !important;
  }

  .home-description {
    margin-right: 0px;
    margin-left: 0px;
    font-size: 13px;
  }

  .home-section-right {
    padding-top: 22vh !important;
  }

  .home-content-right {
    padding-top: 0%;
    text-align: left;
  }

  .home-link {
    font-size: 10vw;
    line-height: 1.1em;
  }

  .home-link:hover {
    font-style: italic;
  }
}

// Laptop Macbook
@media (min-width: 1201px) {
  .home-content-left {
    padding-bottom: 12%;
    width: 100%;
  }

  .name {
    font-size: 18px !important;
  }

  .home-description {
    margin-right: 0px;
    margin-left: 0px;
  }

  .home-section-right {
    padding-top: 10vh;
  }

  .home-link-div {
    display: inline-block;
    padding-right: 5%;
    text-align: right;
  }

  .home-link {
    font-size: 9vw;
  }
}

// Monitor
@media (min-width: 1201px) {
  .home-content-left {
    padding-bottom: 20%;
  }

  .name {
    font-size: 22px !important;
  }

  .home-description {
    font-size: 16px;
  }
}
