  <body class="bg-black" cz-shortcut-listen="true" style="background-image: url('assets/background.jpg');">
  <%= render "shared/navbar" %>
  <div class="container-all">
    <%= yield %>
  </div>
</body>
