<% if current_page?('/about') %>
  <div class="nav-left">
    <div class="nav-line white-line" id="line1"></div>
    <div class="nav-left-item">
      <a href="#anchor-project" class="nav-left-link">PROJECTS</a>
    </div>
    <div class="nav-line white-line" id="line2"></div>
    <div class="nav-left-item">
      <a href="#anchor-contact" class="nav-left-link">CONTACT</a>
    </div>
    <div class="nav-line white-line" id="line3"></div>
    <%= render 'torch' %>
  </div>
<% else %>
<% end %>
