<% if current_page?('/about') %>
  <div class="nav-left">
  <div class="nav-line white-line"></div>
    <div class="nav-left-item">
      <a href="/projects" class="nav-left-link">PROJECTS</a>
    </div>
    <div class="nav-line white-line"></div>
    <%= render 'torch' %>
  </div>
<% else %>
    <div class="nav-left">
    <div class="nav-left-item">
      <a href="/about" class="nav-left-link is-white">ABOUT</a>
    </div>
    <div class="nav-line white-line"></div>
  </div>
<% end %>
