<div class="home-section-center">
  <div class="fireplace" id="fireplace">
    <div class="blur">
      <div class="fireplace__flame_big"></div>
    </div>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <section class="fireplace__log"></section>
    <main class="fireplace__spark"></main>
    <main class="fireplace__spark"></main>
    <main class="fireplace__spark"></main>
    <main class="fireplace__spark"></main>
    <div class="blur fix" data-controller="typed-js" data-action="click->typed-js#playSound">
      <div class="fireplace__flame"></div>
    </div>
    <div class="fireplace__light"></div>
  </div>
</div>
<%= audio_tag("fire.mp3", loop: true, id: "fire-audio") %>
