<div class="torch torch-left-one" id="first-torch">
  <div class="torch-fire">
    <div class="flicker"></div>
    <div class="glow glow1"></div>
    <div class="glow glow2"></div>
    <div class="glow glow3"></div>
    <div class="glow glow4"></div>
    <div class="glow glow5"></div>
    <div class="glow glow7"></div>
    <div class="glow glow8"></div>
    <div class="glow glow9"></div>
    <div class="glow glow10"></div>
    <div class="smoke smoke1"></div>
    <div class="smoke smoke2"></div>
    <div class="smoke smoke3"></div>
    <div class="smoke smoke4"></div>
    <div class="smoke smoke5"></div>
    <div class="smoke smoke6"></div>
  </div>
</div>

<div class="torch torch-left-two" id="second-torch">
  <div class="torch-fire">
    <div class="flicker"></div>
    <div class="glow glow1"></div>
    <div class="glow glow2"></div>
    <div class="glow glow3"></div>
    <div class="glow glow4"></div>
    <div class="glow glow5"></div>
    <div class="glow glow7"></div>
    <div class="glow glow8"></div>
    <div class="glow glow9"></div>
    <div class="glow glow10"></div>
    <div class="smoke smoke1"></div>
    <div class="smoke smoke2"></div>
    <div class="smoke smoke3"></div>
    <div class="smoke smoke4"></div>
    <div class="smoke smoke5"></div>
    <div class="smoke smoke6"></div>
  </div>
</div>
