<div class="about-wrapper">
  <div class="content content-about">
    <h1 class="header about-header align-left white">About</h1>
    <%= image_tag "profile.jpg", class:"profile-img" %>
    <div class="about-description">
      <p class="description-long">
        <span class="quote">I'm Spiros.</span>
        A Full Stack Developer(leaning towards Backend),working towards my goal of creating my own video game one step at a time. I'm so excited to keep learning new things everyday.
      </p>
      <h2 class="about-header-small">SKILLS</h2>
      <p class="description-long">Ruby on Rails  /  Stimulus  /  CSS  /  HTML  /  PostgreSQL  /  RSpec  /  Sidekiq </p>
      <h2 class="about-header-small">EXPERIENCE</h2>
      <a href="https://drive.google.com/file/d/1CWHIXuqlZvoEjUcHA9Aj_-JxKbflYr4v/view"  target=”_blank” class="cv-button ">CV</a>
      <h2 class="about-header-small">HOBBIES</h2>
      <p class="description-long">Video Games  /  Guitar  /  More Coding /  Getting Stuck in Tutorial Hell </p>
      <a href="/contact" class="about-header-small  contact-me-link">
        <h2 class="about-header-small">CONTACT ME</h2>
      </a>
    </div>
  </div>
</div>
