<div class="about-wrapper">
  <div class="content content-about">
    <h1 class="header about-header align-left white">About</h1>
    <%= image_tag "profile.jpg", class:"profile-img" %>
    <div class="about-description">
      <p class="description-long">
        <span class="quote">Hi there, welcome to my portfolio</span>
        I'm Spiros, a Full Stack Developer(leaning towards Backend),working towards my goal of creating my own video game one step at a time. I love learning new ways to be creative in a non-creative way (:.
      </p>
      <h2 class="about-header-small">SKILLS</h2>
      <p class="description-long">Ruby on Rails  /  Stimulus  /  CSS  /  HTML  /  PostgreSQL  /  RSpec  /  Sidekiq </p>
      <h2 class="about-header-small">EXPERIENCE</h2>
      <a href="https://drive.google.com/file/d/1CWHIXuqlZvoEjUcHA9Aj_-JxKbflYr4v/view"  target=”_blank” class="cv-button ">CV</a>
      <h2 class="about-header-small">HOBBIES</h2>
      <p class="description-long">Video Games  /  Guitar  /  More Coding /  Getting Stuck in Tutorial Hell </p>
    </div>
    <div class="project-container" id="anchor-project">
      <div class="project-black-card-name"></div>
      <div class="project-black-card" data-controller="project-transition" data-action="transitionstart->project-transition#loop:once"></div>
      <h2 class="project-name-large">sgmi</h2>
      <div class="project-description">
        <h2 class="description-large">A wallet performance tracker for NFT holders on the Solana blockchain.</h2>
      </div>
      <div class="project-details">
        <div class="project-details-column col-role">
          <div class="header-detail">ROLE</div>
          <p class="col-detail">Fullstack Developer</p>
        </div>
        <div class="project-details-column col-respo">
          <div class="header-detail">RESPONSIBILITIES</div>
          <p class="col-detail">Backend structure, researching and implementing third party APIs, code review.</p>
        </div>
        <div class="project-details-column col-url">
          <div class="header-detail">URL</div>
          <div class="link">
            <a href="https://www.sgmi.io" target="_blank" class="link-block w-inline-block">
              <p class="description-static">https://sgmi.io</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="contact-wrapper" id="anchor-contact">
      <div class="content content-contact">
        <h2 class="header header-large">Contact</h2>
        <div class="intro-description">
          <p class="description is-white description-contact">Email: &zwj; <a href="mailto:spiros.tsiakalos1@gmail.com" class="link link-white">spiros.tsiakalos1@gmail.com</a></p>
          <p class="description is-white description-contact">Social: &zwj; <a href="https://www.linkedin.com/in/spiros-tsiakalos" target="_blank" class="link link-white">LinkedIn</a> &zwj;
            <a href="https://github.com/stsiakal" target="_blank" class="link link-white">GitHub</a>
          </p>
        </div>
      </div>
      <%= render "switch" %>
    </div>
  </div>
</div>
