<div class="about-wrapper">
  <div class="content content-about">
    <h1 class="header about-header align-left white">About</h1>
    <%= image_tag "profile.jpg", class:"profile-img" %>
    <div class="about-description">
      <p class="description-long">
        <span class="quote">I'm Spiros. <br> A Backend Developer. <br></span>
        An aspiring game developer working towards my goal one step at a time. I'm so excited to continue learning new skills every day.
      </p>

      <h2 class="about-header-small">SKILLS</h2>
      <p class="description-long">Ruby on Rails  /  Stimulus  /  CSS  /  HTML  /  PostgreSQL  /  Bootstrap  /  RSpec  /  Sidekiq  / Project Management</p>
      <h2 class="about-header-small">EXPERIENCE</h2>
      <br>
      <a href="https://drive.google.com/file/d/1CWHIXuqlZvoEjUcHA9Aj_-JxKbflYr4v/view"  target=”_blank” class="button w-button">My CV</a>
      <br>
      <br>
      <a href="/contact" class="about-header-small  contact-me-link"><h2 class="about-header-small">CONTACT ME</h2></a>
    </div>
  </div>
</div>
