<div class="contact-wrapper">
  <div class="section-left">
    <div class="content content-contact">
      <h1 class="header header-large">Contact</h1>
      <div class="intro-description">
        <p class="description is-white description-contact">Email: &zwj; <a href="mailto:spiros.tsiakalos1@gmail.com" class="link link-white">spiros.tsiakalos1@gmail.com</a></p>
        <p class="description is-white description-contact">Social: &zwj; <a href="https://www.linkedin.com/in/spiros-tsiakalos" target="_blank" class="link link-white">LinkedIn</a> &zwj;
          <a href="https://github.com/stsiakal" target="_blank" class="link link-white">GitHub</a>
        </p>
      </div>
    </div>
  </div>
</div>
