<div class="container">
  <div class="typed">
    <p id="typed"><span data-controller="typed-js" data-action="load@window->typed-js#firstDay"></span></p>
  </div>
  <div id="buttons" data-controller="story" style="display: none;">
    <button data-action="click->story#progress" id='invastigation'>Investigate this realm</button>
    <button data-action="click->story#progress" id='perception'>Try to understand what the message meant</button>
    <button data-action="click->story#progress" id='escape'>I just want to see the profile, get me out</button>
  </div>
</div>

<%= render 'campfire' %>
