<div class="project-black-card" data-controller="project-transition" data-action="load@window->project-transition#loop"></div>
<div class="project-black-card-name">
</div>
<div class="project-container">
  <h1 class="project-name-large">sgmi</h1>
  <div class="project-description">
    <h2 class="description-large">A wallet performance tracker for NFT holders on the Solana blockchain.</h2>
  </div>
  <div class="project-details">
    <div class="project-details-column col-role">
      <div class="header-detail">ROLE</div>
      <p class="col-detail">Fullstack Developer</p>
    </div>
    <div class="project-details-column col-respo">
      <div class="header-detail">RESPONSIBILITIES</div>
      <p class="col-detail">Backend structure, researching and implementing APIs, code review.</p>
    </div>
    <div class="project-details-column col-url">
      <div class="header-detail">URL</div>
      <div class="link">
        <a href="https://www.sgmi.io" target="_blank" class="link-block w-inline-block">
          <p class="description-static">https://sgmi.io</p>
        </a>
      </div>
    </div>
  </div>
</div>
