.cv-button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.cv-button:focus {
  text-decoration: none;
  color: #fff;
}

.cv-button:hover {
  text-decoration: none;
  color: #fff;
}

.cv-button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.cv-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .cv-button {
    padding: 12px 50px;
  }
}

#diceButton {
  width: 100px;
  opacity: 0;
  position: absolute;
  top: 20%;
  right: 60%;
}

#diceButton.fadeIn {
  opacity: 1;
  transition-duration: 4s;
  transition-property: opacity;
}

#diceButton.fadeOut {
  opacity: 0;
  transition-duration: 4s;
  transition-property: opacity;
}
#choices1,
#choices2 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5%;
  border-radius: 4px;
  width: inherit;
}

.btn-home {
  margin: 10px;
  width: 250px;
  letter-spacing: 2px;
  border-radius: 8px;
  font-family: "Skranji", cursive;
  color: #ffc000;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
  text-align: center;
  padding: 10px 0;
  background: radial-gradient(circle, #8b0000, #8b0000);
  border-top: 4px ridge #ffb000;
  border-left: 4px groove #ffb000;
  border-right: 4px ridge #ffb000;
  border-bottom: 4px groove #ffb000;
  box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
}

.btn-home:hover {
  background: radial-gradient(circle, #e52b2b, #8b0000);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.btn-home:active {
  background: radial-gradient(circle, #ec6a6a, #e52b2b);
  box-shadow: 0px 0 5px 5px rgba(255, 255, 255, 0.2);
}

.switch-wrap {
  position: absolute;
  top: 90%;
  left: 90%;
  z-index: 200;
  transform: translateX(-50%);
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

#switch,
#circle {
  height: 31px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
}
#switch {
  width: 60px;
  border: 2px solid #fec22a;
  border-radius: 27px;
  background: #ff9400;
  position: relative;
  display: inline-block;
  transform: translateY(10px);
}
#circle {
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #e9e5d5;
}
.switched {
  border-color: #777 !important;
  background: #000 !important;
}
.switched #circle {
  margin-left: 55%;
  background: #e9e5d5;
}
