.skeleton {
  max-width: 30%;
  position: absolute;
  top: 30%;
  right: 0%;
  opacity: 0;
  transition-duration: 8s;
  transition-property: opacity;
  display: block;
}

.skeleton.fadeIn {
  opacity: 1;
}

.skeleton.fadeOut {
  opacity: 0;
}

#carnival {
  background-image: url("assets/carnival.jpg") !important;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-image 4s linear;
  overflow: hidden;
}
