// iPhone
@media (max-width: 480px) {
  .nav-left {
    padding: 0px 25px !important;
  }

  .nav-left-link {
    font-size: 10px;
  }
}

// iPad
@media (min-width: 481px) {
  .nav-left-link {
    font-size: 12px;
  }
}

// iPhone and iPad - Horisontal navbar
@media (max-width: 767px) {
  .nav-left {
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
  }

  .nav-left-item {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
  }

  .nav-left-link {
    display: inline-block;
    text-decoration: none;
  }

  .nav-line {
    width: 100px;
    height: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100px;
    height: 1px;
    background-color: #000000;
  }
}

// Laptops and bigger - Vertical navbar
@media (min-width: 768px) {
  .nav-left {
    position: fixed;
    z-index: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 6%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: space-around;
    -ms-flex-pack: start;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-left-item {
    margin-bottom: 40px;
    padding-right: 30px;
    padding-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .nav-left-link {
    display: block;
    border: 0px solid #000;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 30px;
  }

  .nav-line {
    width: 2px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: #000000;
  }
}
// Desktops

@media (min-width: 1025px) {
  .nav-left-link {
    font-size: 14px;
  }
}

.nav-left {
  overflow: hidden !important;
}
.nav-left-link {
  color: #ffffff;
}

.nav-left-link:hover {
  color: #ffffff;
  text-decoration: line-through;
}

.is-white {
  color: #eee7e1;
}

.is-white:hover {
  color: #eee7e1;
}

.white-line {
  background-color: #eee7e1;
}
